.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 15%;
  top: 10%;
  left: 5%;

  background-color: white;
  border-radius: 30px;
}

.mode-button {
  height: 10%;
  width: 80%;
  margin: 10%;

  background-color: cornflowerblue;
  border-radius: 15px;
  color: white;
  border-color: transparent;
  font-size: 25px;

  transition: transform 0.5s ease;
}
.mode-button:hover {
  transform: scale(1.1);
}

.back {
  position: absolute;
  height: 10%;
  width: 80%;
  left: 10%;
  bottom: 10%;

  background-color: cornflowerblue;
  border-radius: 15px;
  color: white;
  border-color: transparent;
  font-size: 25px;

  transition: transform 0.5s ease;
}
.back:hover {
  transform: scale(1.1);
}

.grid-container {
  position: fixed;
  height: 90%;
  width: 50%;
  top: 5%;
  left: 25%;

  background-color: white;
}

.painter-tool {
  position: fixed;
  height: 80%;
  width: 15%;
  top: 10%;
  right: 5%;

  background-color: white;
  border-radius: 30px;
}