.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 15%;
  top: 10%;
  left: 5%;

  background-color: white;
  border-radius: 30px;
}

.mode-button {
  height: 10%;
  width: 80%;
  margin: 10%;

  background-color: cornflowerblue;
  border-radius: 15px;
  color: white;
  border-color: transparent;
  font-size: 25px;

  transition: transform 0.5s ease;
}
.mode-button.not {
  background-color: lightsteelblue;
}
.mode-button:hover {
  transform: scale(1.1);
}

.back {
  position: absolute;
  height: 10%;
  width: 80%;
  left: 10%;
  bottom: 10%;

  background-color: cornflowerblue;
  border-radius: 15px;
  color: white;
  border-color: transparent;
  font-size: 25px;

  transition: transform 0.5s ease;
}
.back.not {
  background-color: lightsteelblue;
}
.back:hover {
  transform: scale(1.1);
}

.grid-container {
  position: fixed;
  height: 90%;
  width: 50%;
  top: 5%;
  left: 25%;

  background-color: white;
}

.painter-tool {
  position: fixed;
  height: 80%;
  width: 15%;
  top: 10%;
  right: 5%;

  background-color: white;
  border-radius: 30px;
}

.color-picker {
  position: absolute;
  height: 50%;
  width: 80%;
  top: 5%;
  left: 10%;

  padding: 0;
  border-radius: 25px;
  border: 5px solid cornflowerblue;
}
.color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color-picker::-webkit-color-swatch {
  border-color: transparent;
}

.color-picker-fake {
  position: absolute;
  height: 48%;
  width: 75%;
  top: 5%;
  left: 10%;

  padding: 0;
  border-radius: 25px;
  border: 5px solid cornflowerblue;
}

.size-picker {
  position: absolute;
  height: 5%;
  width: 80%;
  top: 60%;
  left: 10%;
  -webkit-appearance: none;
}
.size-picker::-webkit-slider-runnable-track {
  background-color: white;
  border-radius: 50px;
  border: 5px solid cornflowerblue;
}
.size-picker::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: cornflowerblue;
  height: 25px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.size {
  position: absolute;
  height: 5%;
  width: 100%;
  top: 65%;
  left: 0;
  text-align: center;
  font-size: 25px;
}

.grid {
  position: absolute;
  height: 50%;
  width: 50%;
}

.grid.a {
  top: 0;
  left: 0;
}
.grid.b {
  top: 0;
  right: 0;
}
.grid.c {
  bottom: 0;
  left: 0;
}
.grid.d {
  bottom: 0;
  right: 0;
}

.canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
