.sidebar {
  position: fixed;
  height: 80%;
  width: 15%;
  top: 10%;
  left: 5%;

  background-color: white;
  border-radius: 30px;
}

.grid-container {
  position: fixed;
  height: 90%;
  width: 50%;
  top: 5%;
  left: 25%;

  background-color: white;
}

.painter-tool {
  position: fixed;
  height: 80%;
  width: 15%;
  top: 10%;
  right: 5%;

  background-color: white;
  border-radius: 30px;
}